<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.jambots.railroadtrain"
        versionCode="4" 
        version   = "2.01">

    <!-- versionCode is optional and Android only -->
<preference name="phonegap-version" value="cli-5.2.0" />
    <name>Railroad Train</name>
    <description>Railroad Train is a casual puzzle game with multiple trains and track drawing.</description>
<gap:platform name="ios" />
<gap:platform name="android" />
<gap:config-file platform="android" parent="/manifest/application">
    <activity android:launchMode="singleInstance" />
</gap:config-file>
<preference name="fullscreen" value="true" />
<preference name="orientation" value="default" />
<gap:splash src="railroad_train.png" />
<gap:plugin name="org.apache.cordova.media" version="0.2.8" />
<gap:plugin name="org.apache.cordova.network-information" />
<gap:plugin name="com.modaltech.cordova.plugin.canvascamera" version="1.0" />

<access origin="*" />
<!--
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/media"/>
-->
<icon src="railroad_train.png" />
<gap:plugin name="com.phonegap.plugins.childbrowser" />
</widget>