body{font-family:Thonburi-Bold, Arial; font-size:16px;}
background-image: url('images/tabbar.png');
   }
.faded{opacity:.5;}
.whiteText{color:#fff;}
.buttonBackgroundSmall {position:absolute;}
.buttonText{font-size:24px; font-weight:bold; width:100%; text-align:center;}


#gridHolder{position:absolute; top:1px; left:1px;}
#trainHolder{position:absolute; top:0; left:0;}

.black{background-color:#555;}
.green{background-color:#3FB3A0;}
.blue{background-color:#76C5F0;}
.orange{background-color:#F1A334;}

.darkblack{background-color:#000;}
.darkgreen{background-color:#3C746B;}
.darkblue{background-color:#005BA1;}
.darkorange{background-color:#DA251C;}



.transit{
  -webkit-backface-visibility: hidden;
/*
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: linear, linear;
*/
  }


.blueBorder{border-color:#aaaaaa;}
#prerails{position:absolute; margin-top:1px; margin-left:1px;}
.trClass {  -webkit-animation-name: trAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.rbClass {  -webkit-animation-name: rbAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.blClass {  -webkit-animation-name: blAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.ltClass {  -webkit-animation-name: ltAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.rtClass {  -webkit-animation-name: rtAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.brClass {  -webkit-animation-name: brAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.lbClass {  -webkit-animation-name: lbAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.tlClass {  -webkit-animation-name: tlAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.rrClass {  -webkit-animation-name: rrAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.llClass {  -webkit-animation-name: llAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.rrrClass {  -webkit-animation-name: rrrAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.llrClass {  -webkit-animation-name: llrAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.bbClass {  -webkit-animation-name: bbAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}
.ttClass {  -webkit-animation-name: ttAnim;  -webkit-animation-timing-function:linear; -webkit-animation-duration: 1s;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;}

.clearAnimation{-webkit-animation-name: noAnim;}

@-webkit-keyframes noAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(0deg);  }
  100% { -webkit-transform: translate(0px, 0px) rotate(0deg);  }
  }
@-webkit-keyframes rrrAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(90deg);  }
  100% { -webkit-transform: translate(96px,0px) rotate(90deg);  }
  }
@-webkit-keyframes lllAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(270deg);  }
  100% { -webkit-transform: translate(-96px, 0px) rotate(270deg);  }
  }
@-webkit-keyframes rrAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(90deg);  }
  100% { -webkit-transform: translate(96px,0px) rotate(90deg);  }
  }
@-webkit-keyframes llAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(270deg);  }
  100% { -webkit-transform: translate(-96px, 0px) rotate(270deg);  }
  }
@-webkit-keyframes ttAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(0deg);  }
  100% { -webkit-transform: translate(0px,-96px) rotate(0deg);  }
  }
@-webkit-keyframes bbAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(180deg);  }
  100% { -webkit-transform: translate(0px,96px) rotate(180deg);  }
  }

@-webkit-keyframes ltAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(270deg);  }
  33% {  -webkit-transform: translate(-24px,-6px) rotate(300deg);  }
  67% {  -webkit-transform: translate(-42px,-24px) rotate(330deg);  }
  100% { -webkit-transform: translate(-48px,-48px) rotate(360deg);  }
  }
@-webkit-keyframes trAnim {
  0% {    -webkit-transform: translate(0px, 0px)  rotate(0deg);  }
  33% {    -webkit-transform: translate(6px, -24px) rotate(30deg);  }
  67% {    -webkit-transform: translate(24px, -42px) rotate(60deg);  }
  100% {    -webkit-transform: translate(48px,-48px) rotate(90deg);  }
  }
@-webkit-keyframes rbAnim {
  0% {    -webkit-transform: translate(0px, 0px)  rotate(90deg);  }
  33% {    -webkit-transform: translate(24px, 6px) rotate(120deg);  }
  67% {    -webkit-transform: translate(42px, 24px) rotate(150deg);  }
  100% {    -webkit-transform: translate(48px,48px) rotate(180deg);  }
  }
@-webkit-keyframes blAnim {
  0% {    -webkit-transform: translate(0px, 0px) rotate(180deg);  }
  33% {    -webkit-transform: translate(-6px,24px) rotate(210deg);  }
  67% {    -webkit-transform: translate(-24px,42px) rotate(240deg);  }
  100% {    -webkit-transform: translate(-48px,48px) rotate(270deg);  }
  }

@-webkit-keyframes tlAnim {
  0% {    -webkit-transform: translate(0px, 0px)  rotate(360deg);  }
  33% {    -webkit-transform: translate(-6px, -24px) rotate(330deg);  }
  67% {    -webkit-transform: translate(-24px, -42px) rotate(300deg);  }
  100% {    -webkit-transform: translate(-48px,-48px) rotate(270deg);  }
  }
@-webkit-keyframes lbAnim {
  0% {   -webkit-transform: translate(0px, 0px) rotate(270deg);  }
  33% {  -webkit-transform: translate(-24px,6px) rotate(240deg);  }
  67% {  -webkit-transform: translate(-42px,24px) rotate(210deg);  }
  100% { -webkit-transform: translate(-48px,48px) rotate(180deg);  }
  }
@-webkit-keyframes brAnim {
  0% {    -webkit-transform: translate(0px, 0px) rotate(180deg);  }
  33% {    -webkit-transform: translate(6px,24px) rotate(150deg);  }
  67% {    -webkit-transform: translate(24px,42px) rotate(130deg);  }
  100% {    -webkit-transform: translate(48px,48px) rotate(90deg);  }
  }
@-webkit-keyframes rtAnim {
  0% {    -webkit-transform: translate(0px, 0px)  rotate(90deg);  }
  33% {    -webkit-transform: translate(24px, -6px) rotate(60deg);  }
  67% {    -webkit-transform: translate(42px, -24px) rotate(30deg);  }
  100% {    -webkit-transform: translate(48px, -48px) rotate(0deg);  }
  }



.tRotate{-webkit-transform: translate(0px, 0px)  rotate(0deg);}
.rRotate{-webkit-transform: translate(0px, 0px)  rotate(90deg);}
.bRotate{-webkit-transform: translate(0px, 0px)  rotate(180deg);}
.lRotate{-webkit-transform: translate(0px, 0px)  rotate(270deg);}

/*
  #highlighter {width:94px; height:94px; position:absolute;
    -webkit-border-radius: 20px;
    background-color:#FFFF00;
    opacity:1;
    display:none;
    }
  .tile {width:94px; height:94px; position:absolute;
    border:1px #eeeeee solid;
    -webkit-border-radius: 20px;
    }
  .tiledestgreen {margin:14px; width:66px; height:66px; position:absolute;
    background-color:#3C746B;
    -webkit-border-radius: 48px;
    }
  .tiledestblue {margin:14px; width:66px; height:66px; position:absolute;
    background-color:#005BA1;
    -webkit-border-radius: 48px;
    }
  .tiledestblack {margin:14px; width:66px; height:66px; position:absolute;
    background-color:#000000;
    -webkit-border-radius: 48px;
    }
  .tiledestorange {margin:14px; width:66px; height:66px; position:absolute;
    background-color:#DA251C;
    -webkit-border-radius: 48px;
    }

  .tilesourcegreen {margin:4px; width:86px; height:86px; position:absolute;
    background-color:#3C746B;
    -webkit-border-radius: 16px;
    }
  .tilesourceblue {margin:4px; width:86px; height:86px; position:absolute;
    background-color:#005BA1;
    -webkit-border-radius: 16px;
    }
  .tilesourceblack {margin:4px; width:86px; height:86px; position:absolute;
    background-color:#000000;
    -webkit-border-radius: 16px;
    }
  .tilesourceorange {margin:4px; width:86px; height:86px; position:absolute;
    background-color:#DA251C;
    -webkit-border-radius: 16px;
    }

.dot{-webkit-border-radius: 8px; position:absolute; width:24px; height:12px; opacity:0;}

.dot1{left: 7px; top:  13px;}
.dot2{left: 55px; top:  13px;}
.dot3{left: 7px; top: 61px;}
.dot4{left: 55px; top: 61px;}



  .L0{left:0px;}
  .T0{top:0px;}
  .L1{left:96px;}
  .T1{top:96px;}
  .L2{left:192px;}
  .T2{top:192px;}
  .L3{left:288px;}
  .T3{top:288px;}
  .L4{left:384px;}
  .T4{top:384px;}
  .L5{left:480px;}
  .T5{top:480px;}
  .L6{left:576px;}
  .T6{top:576px;}
  .L7{left:672px;}
  .T7{top:672px;}


  .tbLeft {top:0px; left:38px; width:10px; height:94px; border-left:2px #888  solid; position:absolute;}
  .tbRight {top:0px; left:54px; width:10px; height:94px; border-left:2px #888  solid; position:absolute;}
  .lrTop {top:38px; left:0px; width:94px; height:10px; border-top:2px #888  solid; position:absolute;}
  .lrBottom {top:54px; left:0px; width:94px; height:10px; border-top:2px #888  solid; position:absolute;}

  .rTop {top:38px; left:47px; width:47px; height:10px; border-top:2px #888  solid; position:absolute;}
  .rBottom {top:54px; left:47px; width:47px; height:10px; border-top:2px #888  solid; position:absolute;}
  .lTop {top:38px; left:0px; width:47px; height:10px; border-top:2px #888  solid; position:absolute;}
  .lBottom {top:54px; left:0px; width:47px; height:10px; border-top:2px #888  solid; position:absolute;}
  .bLeft {top:47px; left:38px; width:10px; height:47px; border-left:2px #888  solid; position:absolute;}
  .bRight {top:47px; left:54px; width:10px; height:47px; border-left:2px #888  solid; position:absolute;}
  .tLeft {top:0px; left:38px; width:10px; height:46px; border-left:2px #888  solid; position:absolute;}
  .tRight {top:0px; left:54px; width:10px; height:46px; border-left:2px #888  solid; position:absolute;}

  .brOuter {top:38px; left:38px; width:54px; height:54px; border-top:2px #888  solid; border-left:2px #888 solid; -webkit-border-top-left-radius: 100px; position:absolute;}
  .brInner {top:54px; left:54px; width:38px; height:38px; border-top:2px #888  solid; border-left:2px #888  solid; -webkit-border-top-left-radius: 100px; position:absolute;}
  .tlOuter {top:0px; left:0px; width:54px; height:54px; border-bottom:2px #888  solid; border-right:2px #888  solid; -webkit-border-bottom-right-radius: 100px; position:absolute;}
  .tlInner {top:0px; left:0px; width:38px; height:38px; border-bottom:2px #888  solid; border-right:2px #888  solid; -webkit-border-bottom-right-radius: 100px; position:absolute;}

  .trOuter {top:0px; left:38px; width:54px; height:54px; border-bottom:2px #888  solid; border-left:2px #888  solid; -webkit-border-bottom-left-radius: 100px; position:absolute;}
  .trInner {top:0px; left:54px; width:38px; height:38px; border-bottom:2px #888  solid; border-left:2px #888  solid; -webkit-border-bottom-left-radius: 100px; position:absolute;}
  .blOuter {top:38px; left:0px; width:54px; height:54px; border-top:2px #888  solid; border-right:2px #888  solid; -webkit-border-top-right-radius: 100px; position:absolute;}
  .blInner {top:54px; left:0px; width:38px; height:38px; border-top:2px #888  solid; border-right:2px #888  solid; -webkit-border-top-right-radius: 100px; position:absolute;}


.car{width:96px; height:96px; position:absolute;}
.coupler{top:0px; left:46px; width:10px; height:96px; border-left:4px #1F1A17 solid; position:absolute;}
.blueTank{width:24px; height:80px; position:absolute; top:8px; left:36px; -webkit-border-radius: 8px; background-color:#76C5F0;-webkit-border-radius: 100px}
.orangeTank{width:24px; height:80px; position:absolute; top:8px; left:36px; -webkit-border-radius: 8px; background-color:#F1A334;}
.blackCar{width:16px; height:72px; position:absolute; top:8px; left:36px; border:4px #555 solid; background-color:#000000;}
.greenCar{width:16px; height:72px; position:absolute; top:8px; left:36px; border:4px #3FB3A0 solid; background-color:#3C746B;}


.blueTrainRear{width:28px; height:36px; top:52px; left:34px;  background-color:#76C5F0; position:absolute; }
.blueTrainBody{width:24px; height:60px; top:12px; left:36px; background-color:#76C5F0; position:absolute; }
.blueTrainTank{width:12px; height:60px; top:10px; left:42px; background-color:#005BA1; -webkit-border-radius: 100px; position:absolute; }
.blueTrainCatcher{width:16px; height:16px; top:0px; left:40px; background-color:#76C5F0; position:absolute; -webkit-transform: rotate(45deg);}

.orangeTrainRear{width:28px; height:36px; top:52px; left:34px;  background-color:#F1A334; position:absolute; }
.orangeTrainBody{width:24px; height:60px; top:12px; left:36px; background-color:#F1A334; position:absolute; }
.orangeTrainTank{width:12px; height:60px; top:10px; left:42px; background-color:#DA251C; -webkit-border-radius: 100px; position:absolute; }
.orangeTrainCatcher{width:16px; height:16px; top:0px; left:40px; background-color:#F1A334; position:absolute; -webkit-transform: rotate(45deg);}

.greenTrainRear{width:28px; height:36px; top:52px; left:34px; background-color:#3FB3A0; position:absolute; }
.greenTrainBody{width:24px; height:60px; top:12px; left:36px; background-color:#3FB3A0; position:absolute; }
.greenTrainTank{width:12px; height:60px; top:10px; left:42px; background-color:#3C746B; -webkit-border-radius: 100px; position:absolute; }
.greenTrainCatcher{width:16px; height:16px; top:0px; left:40px; background-color:#3FB3A0; position:absolute; -webkit-transform: rotate(45deg);}

.blackTrainRear{width:28px; height:36px; top:52px; left:34px;  background-color:#555; position:absolute; }
.blackTrainBody{width:24px; height:60px; top:12px; left:36px; background-color:#555; position:absolute; }
.blackTrainTank{width:12px; height:60px; top:10px; left:42px; background-color:#000; -webkit-border-radius: 100px; position:absolute; }
.blackTrainCatcher{width:16px; height:16px; top:0px; left:40px; background-color:#555; position:absolute; -webkit-transform: rotate(45deg);}
*/
