.navBarHolder{
  position:absolute;
  background-image:url('images/tabbar.png');
  }
.controlButton{
  }
.controlRelative{
  position:relative;
  }
.controlLabel{
  font-size:18px;
  position:absolute;
  text-align:center;
  font-family:'Futura-Medium', san-serif;
  color:white;
  }
.controlTouch{
  position:absolute;
  }
.floatleft{float:left;}
.floatright{float:right;}
.controlDivider{
  width:0px;
  border-right-color:rgba(255,255,255,.3);
  border-left-color:rgba(0,0,0,.3);
  border-left-style:solid;
  border-right-style:solid;
  border-left-width:1px;
  border-right-width:1px;
  border-top-style:none;
  border-bottom-style:none;
  border-top-width:0px;
  border-bottom-width:0px;
  }
.displayText{
  float:left;
  font-size:14px;
  text-align:center;
  font-family:'Futura-Medium', san-serif;
  color:white;
  }
